@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

input:focus,
button:focus,
textarea:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

body {
  font-family: 'Open Sans', Tahoma, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  background-color: #FFF;
  color: #333333;
}

.section {
  padding: 140px 0;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  max-width: 158px;
}

.logo:focus {
  -webkit-box-shadow: 0 0 0 3px #2352DE;
          box-shadow: 0 0 0 3px #2352DE;
}

.logo:hover {
  opacity: 0.7;
}

.logo:active {
  opacity: 0.5;
}

.title {
  position: relative;
  display: inline-block;
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 3rem;
}

.title::after {
  content: '';
  position: absolute;
  left: 0;
  top: 22px;
  width: 100%;
  height: 15px;
  background-color: rgba(35, 82, 222, 0.1);
}

.btn {
  font-size: 1.125rem;
  color: #FFF;
  padding: 10px 22px;
  border: 1px solid transparent;
  background-color: #2352DE;
  -webkit-transition: background-color 0.2s, color 0.2s, border-color 0.2;
  transition: background-color 0.2s, color 0.2s, border-color 0.2;
}

.btn:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.5);
          box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.5);
}

.btn:hover {
  background-color: #FFFFFF;
  border-color: #2352DE;
  color: #2352DE;
}

.btn:active {
  -webkit-box-shadow: inset 0 7px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 7px 4px rgba(0, 0, 0, 0.25);
}

.header {
  position: absolute;
  left: 0;
  top: 75px;
  z-index: 3;
  width: 100%;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 35px;
}

.menu__link {
  font-weight: 600;
  font-size: 1.125rem;
  color: #FFF;
}

.menu__link:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}

.menu__link:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.menu__link:active {
  color: rgba(255, 255, 255, 0.7);
}

.hero {
  position: relative;
  background-image: url(../image/hero/hero_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(35, 82, 222, 0.5);
  z-index: 1;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  position: relative;
  z-index: 2;
  color: #FFF;
}

.hero__text {
  margin: auto 0;
}

.hero__title {
  font-size: 3rem;
  line-height: 150%;
}

.hero__profession {
  display: block;
  font-size: 5.625rem;
  line-height: 135%;
  font-weight: 900;
}

.hero__link {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-bottom: 48px;
  font-weight: 600;
  font-size: 1.125rem;
  text-align: center;
  color: #FFF;
}

.hero__link:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}

.hero__link:active {
  color: rgba(255, 255, 255, 0.7);
}

.hero__link:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.hero__link::after {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 37px;
  height: 21px;
  background-image: url(../image/hero/vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.about__text {
  font-size: 1.125rem;
  line-height: 160%;
}

.about__text p:not(:last-child) {
  margin-bottom: 30px;
}

.skills {
  background-color: #F6F6F8;
}

.skills__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__img {
  max-width: 415px;
}

.skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__item:not(:last-child) {
  margin-bottom: 86px;
}

.skills__name {
  width: 64px;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 100%;
  text-transform: uppercase;
}

.skills__grey {
  position: relative;
  width: 600px;
  height: 32px;
  background-color: #DBDBED;
}

.skills__blue {
  position: absolute;
  top: 0;
  left: 0;
  height: 32px;
  background-color: #2352DE;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__item {
  padding-top: 90px;
  max-width: 330px;
  background-size: 60px 60px;
  background-repeat: no-repeat;
}

.services__item--markup {
  background-image: url("../image/services/markup_icon.svg");
}

.services__item--cms {
  background-image: url("../image/services/dev_icon.svg");
}

.services__item--support {
  background-image: url("../image/services/chat_icon.svg");
}

.services__title {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 130%;
}

.services__description {
  font-size: 1rem;
  line-height: 160%;
}

.portfolio {
  padding-top: 0;
  text-align: center;
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

.portfolio__item:not(:last-child) {
  margin-right: 35px;
}

.portfolio__button {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 160%;
  background-color: inherit;
}

.portfolio__button:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
          box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
  border-radius: 3px;
}

.portfolio__button:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.portfolio__button:hover, .portfolio__button:active {
  color: #2352DE;
}

.portfolio__cases {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 60px;
  margin-right: -45px;
  margin-top: -45px;
}

.portfolio__img {
  width: 360px;
  height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 45px;
  margin-top: 45px;
}

.review {
  background-color: #F6F6F8;
  text-align: center;
}

.review__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review__img {
  display: inline-block;
  width: 130px;
  height: 130px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.review__name {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 1.5rem;
  color: #2352DE;
}

.review__text {
  width: 400px;
  padding: 0 15px;
  font-style: italic;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 130%;
}

.review__video {
  position: relative;
  width: 570px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.3);
}

.review__video::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  -webkit-transform: translate(50%);
          transform: translate(50%);
  border: 100px solid transparent;
  border-left: 100px solid #fff;
}

.stats__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stats__item {
  width: 280px;
  padding-top: 150px;
  padding-bottom: 50px;
  text-align: center;
  background-color: #F6F6F8;
  background-repeat: no-repeat;
  background-position: 50% 50px;
  background-size: auto 80px;
  border: 1px solid #DBDBED;
}

.stats__item--works {
  background-image: url(/image/stats/works.svg);
}

.stats__item--clients {
  background-image: url(/image/stats/clients.svg);
}

.stats__item--coffee {
  background-image: url(/image/stats/coffee.svg);
}

.stats__item--reviews {
  background-image: url(/image/stats/review.svg);
}

.stats__title {
  margin-bottom: 20px;
  font-size: 1.125rem;
}

.stats__numbers {
  font-weight: 600;
  font-size: 2.75rem;
  line-height: 100%;
}

.contacts {
  padding-top: 0;
}

.contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 530px;
}

.contacts__text {
  margin-bottom: 30px;
  line-height: 160%;
}

.contacts__requisites {
  display: inline-block;
  color: #2352DE;
}

.contacts__requisites:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
          box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.0001);
}

.contacts__requisites:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.contacts__requisites:active {
  color: rgba(35, 82, 222, 0.7);
}

.contacts__requisites--phone {
  margin-bottom: 15px;
}

.contacts__requisites--mail {
  margin-bottom: 21px;
}

.contacts__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__item:not(:last-child) {
  margin-right: 20px;
}

.contacts__link {
  display: inline-block;
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  background-size: 44px;
  background-position: 0 0;
}

.contacts__link--ig {
  background-image: url(/image/contacts/instagram.svg);
}

.contacts__link--fb {
  background-image: url(/image/contacts/facebook.svg);
}

.contacts__link--tg {
  background-image: url(/image/contacts/telegram.svg);
}

.contacts__link:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
          box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
  border-radius: 3px;
}

.contacts__link:hover {
  opacity: 0.7;
}

.contacts__link:active {
  -webkit-box-shadow: 4px 4px 10px 0 rgba(35, 82, 222, 0.2);
          box-shadow: 4px 4px 10px 0 rgba(35, 82, 222, 0.2);
}

.form {
  width: 540px;
}

.form__inner {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 0.875rem;
}

.form__inner:first-child {
  margin-right: 25px;
}

.form__label {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}

.form__field {
  padding: 13px 15px;
  background-color: #F6F6F8;
  color: #000;
}

.form__field:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.5);
          box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.5);
}

.form__field:hover::-webkit-input-placeholder {
  color: #000;
}

.form__field:hover:-ms-input-placeholder {
  color: #000;
}

.form__field:hover::-ms-input-placeholder {
  color: #000;
}

.form__field:hover::placeholder {
  color: #000;
}

.form__field--input {
  width: 255px;
}

.form__field--area {
  width: 540px;
  height: 115px;
  resize: none;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #343740;
}
