@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.section {
  padding: 140px 0;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #333333;
}

img {
  display: block;
  max-width: 100%;
}

.section__title {
  display: inline-block;
  font-weight: 700;
  font-size: 3rem;
  line-height: 130%;
  margin-bottom: 60px;
  position: relative;
}

.section__title::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 15px;
  background-color: rgba(35, 82, 222, 0.102);
  bottom: 5px;
  left: 0;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 75px;
  z-index: 3;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  max-width: 158.67px;
}

.logo:focus {
  -webkit-box-shadow: 0px 0px 0px 3px #2352DE;
          box-shadow: 0px 0px 0px 3px #2352DE;
}

.logo:active {
  background-color: rgba(255, 255, 255, 0.5);
}

.logo:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 35px;
}

.menu__link {
  color: #FFF;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 130%;
}

.menu__link:focus {
  -webkit-box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5);
          box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}

.menu__link:active {
  color: rgba(255, 255, 255, 0.7);
}

.menu__link:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.hero {
  background: url(../image/hero/hero_background.jpg) center no-repeat;
  background-size: cover;
  position: relative;
}

.hero:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(35, 82, 222, 0.5);
  z-index: 1;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  position: relative;
  z-index: 2;
  color: #FFF;
}

.hero__text {
  margin: auto 0;
}

.hero__title {
  font-size: 3rem;
  line-height: 150%;
}

.hero__title--bold {
  display: block;
  font-size: 5.625rem;
  line-height: 135%;
  font-weight: 900;
}

.hero__link {
  text-align: center;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 130%;
  position: relative;
  padding-bottom: 48px;
  color: #FFF;
}

.hero__link:focus {
  -webkit-box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5);
          box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}

.hero__link:active {
  color: rgba(255, 255, 255, 0.7);
}

.hero__link:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.hero__link::after {
  content: '';
  width: 37px;
  height: 21px;
  background-image: url(../image/hero/vector.svg);
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.about__text {
  font-size: 1.125rem;
  line-height: 160%;
}

.about__text > p:not(:last-child) {
  margin-bottom: 30px;
}

.skills {
  background: #F6F6F8;
}

.skills__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__img {
  max-width: 415px;
}

.skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__item:not(:last-child) {
  margin-bottom: 86px;
}

.skills__name {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 100%;
  text-transform: uppercase;
  width: 64px;
}

.skills__progress {
  height: 32px;
}

.skills__progress--blue {
  background-color: #2352DE;
}

.skills__progress--grey {
  background-color: #DBDBED;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__item {
  max-width: 330px;
}

.services__icon {
  display: block;
  width: 60px;
  height: 60px;
  margin-bottom: 30px;
}

.services__icon-markup {
  background-image: url("../image/services/markup_icon.svg");
}

.services__icon-cms {
  background-image: url("../image/services/dev_icon.svg");
}

.services__icon-support {
  background-image: url("../image/services/chat_icon.svg");
}

.services__title {
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 130%;
  margin-bottom: 25px;
}

.services__description {
  font-size: 1rem;
  line-height: 160%;
}

.portfolio {
  padding-top: 0;
}

.portfolio__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

.portfolio__btn {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 160%;
  background-color: inherit;
  margin-right: 35px;
}

.portfolio__btn:focus {
  -webkit-box-shadow: 0px 0px 0px 2px rgba(35, 82, 222, 0.5);
          box-shadow: 0px 0px 0px 2px rgba(35, 82, 222, 0.5);
  border-radius: 3px;
}

.portfolio__btn:active {
  color: #2352DE;
}

.portfolio__btn:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2352DE;
}

.portfolio__cases {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__img {
  display: inline-block;
  max-width: 360px;
  max-height: 360px;
  margin-bottom: 45px;
}

.portfolio__btn-load {
  font-size: 1.125rem;
  color: #FFF;
  margin-top: 15px;
  padding: 12px 24px;
  background-color: #2352DE;
}

.portfolio__btn-load:focus {
  -webkit-box-shadow: 0px 0px 0px 3px rgba(35, 82, 222, 0.5);
          box-shadow: 0px 0px 0px 3px rgba(35, 82, 222, 0.5);
}

.portfolio__btn-load:active {
  -webkit-box-shadow: inset 0px 7px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 7px 4px rgba(0, 0, 0, 0.25);
}

.portfolio__btn-load:hover {
  background-color: #FFFFFF;
  border: 1px solid #2352DE;
  color: #2352DE;
}
