@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.container {
  max-width: 73.125rem;
  padding: 0;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  color: #333333;
}

img {
  max-width: 100%;
}

.section-title {
  display: inline-block;
  font-weight: 700;
  font-size: 3rem;
  line-height: 130%;
  margin-bottom: 60px;
  position: relative;
}

.section-title::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 15px;
  background-color: rgba(35, 82, 222, 0.102);
  bottom: 5px;
  left: 0;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 75px;
  z-index: 2;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  max-width: 9.916875rem;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-item {
  margin-right: 35px;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-item a {
  color: #FFF;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 130%;
}

.hero {
  background: url(../image/hero/hero_background.jpg) center no-repeat;
  color: #fff;
  position: relative;
}

.hero:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(35, 82, 222, 0.5);
  z-index: 1;
}

.hero-content {
  padding: 448px 0 63px;
  position: relative;
  z-index: 2;
  color: #FFF;
}

.hero-text {
  margin-bottom: 235px;
}

.hero-subtitle {
  font-size: 3rem;
  line-height: 150%;
}

.hero-title {
  font-size: 5.625rem;
  line-height: 135%;
  font-weight: 900;
}

.hero-see {
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 130%;
  position: relative;
}

.hero-see::after {
  content: '';
  width: 37px;
  height: 21px;
  background-image: url(../image/hero/Vector.png);
  position: absolute;
  top: 29px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.about-content {
  padding: 140px 0;
}

.about-text {
  font-size: 1.125rem;
  line-height: 160%;
  margin-bottom: 30px;
}

.about-text:last-child {
  margin-bottom: 0;
}

.skills {
  background: #F6F6F8;
}

.skills-content {
  padding: 140px 0;
}

.skills-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-img {
  max-width: 415px;
}

.skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 86px;
}

.skills-list:last-child {
  margin-bottom: 0;
}

.skills-name {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 100%;
  text-transform: uppercase;
  width: 64px;
}

.skills-progress {
  width: 600px;
  height: 32px;
  background: #DBDBED;
  position: relative;
}

.skills-progress__html::after, .skills-progress__css::after, .skills-progress__js::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 32px;
  background: #2352DE;
}

.skills-progress__html::after {
  width: 510px;
}

.skills-progress__css::after {
  width: 480px;
}

.skills-progress__js::after {
  width: 366px;
}

.services-content {
  padding: 140px 0;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.services-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 28.20513%;
}

.services-card__icon {
  max-width: 60px;
  margin-bottom: 30px;
}

.services-card__title {
  display: block;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 130%;
  margin-bottom: 25px;
}

.services-card__description {
  font-size: 1rem;
  line-height: 160%;
}
