.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 75px;
  z-index: 2;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  max-width: 9.916875rem;
}

.menu {
  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    margin-right: 35px;
    &:last-child {
      margin-right: 0;
    }

    & a {
      color: $color-white;
      font-weight: 600;
      font-size: 1.125rem;
      line-height: 130%;
    }
  }
}