.hero {
  background: url(../image/hero/hero_background.jpg) no-repeat;
  color: #fff;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(35, 82, 222, 0.5);
    z-index: 2;
  }

  &-content {
    padding: 448px 0 63px;
  }

  &-text {
    margin-bottom: 235px;
  }

  &-subtitle {
    font-size: 3rem;
    line-height: 130%;
  }

  &-title {
    font-size: 5.625rem;
    line-height: 130%;
    font-weight: 900;
  }

  &-see {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 130%;
    position: relative;

    &::after {
      content: '';
      width: 37px;
      height: 21px;
      background-image: url(../image/hero/Vector.png);
      position: absolute;
      top: 29px;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}