.services {
  &-content {
    padding: 140px 0;
  }

  &-list {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: nowrap;
  }

  &-card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: (330/1170)*100%;

    &__icon {
      max-width: 60px;
      margin-bottom: 30px;
    }

    &__title {
      display: block;
      font-weight: 600;
      font-size: 1.75rem;
      line-height: 130%;
      margin-bottom: 25px;
    }

    &__description {
      font-size: 1rem;
      line-height: 160%;
    }
  }
}