.skills {
  background: #F6F6F8;
  &__content {
    padding: 140px 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    max-width: 415px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 86px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__name {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 100%;
    text-transform: uppercase;
    width: 64px;
  }

  &__progress {
    width: 600px;
    height: 32px;
    background: #DBDBED;
    position: relative;

    &-html::after, &-css::after, &-js::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 32px;
      background: #2352DE;
    }
    &-html::after {
      width: 510px;
    }
    &-css::after {
      width: 480px;
    }
    &-js::after {
      width: 366px;
    }
  }
}