.contacts {
  padding-top: 0;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 530px;
  }

  &__text {
    margin-bottom: 30px;
    line-height: 160%;
  }

  &__requisites {
    display: inline-block;
    color: #2352DE;

    &:focus {
      box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
      border-radius: 3px;
      background-color: rgba(255, 255, 255, 0.0001);
    }
    
    &:hover {
      text-decoration-line: underline;
    }

    &:active {
      color: rgba(35, 82, 222, 0.7);
    }

    &--phone {
      margin-bottom: 15px;
    }

    &--mail {
      margin-bottom: 21px;
    }
  }

  &__social {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__link {
    display: inline-block;
    width: 44px;
    height: 44px;
    background-repeat: no-repeat;
    background-size: 44px;
    background-position: 0 0;

    &--ig {
      background-image: url(/image/contacts/instagram.svg);
    }

    &--fb {
      background-image: url(/image/contacts/facebook.svg);
    }

    &--tg {
      background-image: url(/image/contacts/telegram.svg);
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
      border-radius: 3px;
    }
    
    &:hover {
      opacity: 0.7;
    }

    &:active {
      box-shadow: 4px 4px 10px 0 rgba(35, 82, 222, 0.2);
    }

  }
}

.form {
  width: 540px;

  &__inner {
    display: inline-block;
    margin-bottom: 30px;
    font-size: 0.875rem;
    &:first-child {
      margin-right: 25px;
    }
  }

  &__label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
  }



  &__field {
    padding: 13px 15px;
    background-color: #F6F6F8;
    color: #000;

    &:focus {
      box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.5);
    }

    &:hover::placeholder {
      color: #000;
    }

    &--input {
      width: 255px;
    }

    &--area {
      width: 540px;
      height: 115px;
      resize: none;
    }
  }
}