.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 75px;
  z-index: 2;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  max-width: 158.67px;
}

.menu {
  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 35px;
    }
  }
  
  &__link {
    color: $color-white;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 130%;
  }
}