.hero {
  background: url(../image/hero/hero_background.jpg) center no-repeat;
  background-size: cover;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(35, 82, 222, 0.5);
    z-index: 1;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    z-index: 2;
    color: $color-white;
  }

  &__text {
    margin: auto 0;
  }

  &__title {
    font-size: 3rem;
    line-height: 150%;
    &--bold {
      display: block;
      font-size: 5.625rem;
      line-height: 135%;
      font-weight: 900;
    }
  }

  &__link {
    text-align: center;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 130%;
    position: relative;
    padding-bottom: 48px;
    color: $color-white;

    &:focus {
      box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5);
      border-radius: 3px;
    }
    
    &:active {
      color: rgba(255, 255, 255, 0.7);
    }

    &:hover {
      text-decoration-line: underline;
    }

    &::after {
      content: '';
      width: 37px;
      height: 21px;
      background-image: url(../image/hero/vector.svg);
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}