.hero {
  position: relative;
  background-image: url(../image/hero/hero_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(35, 82, 222, 0.5);
    z-index: 1;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    z-index: 2;
    color: $color-white;
  }

  &__text {
    margin: auto 0;
  }

  &__title {
    font-size: 3rem;
    line-height: 150%;
  }

  &__profession {
    display: block;
    font-size: 5.625rem;
    line-height: 135%;
    font-weight: 900;
  }

  &__link {
    position: relative;
    align-self: center;
    padding-bottom: 48px;
    font-weight: 600;
    font-size: 1.125rem;
    text-align: center;
    color: $color-white;

    &:focus {
      box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
      border-radius: 3px;
    }
    
    &:active {
      color: rgba(255, 255, 255, 0.7);
    }

    &:hover {
      text-decoration-line: underline;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 20px;
      left: 50%;
      width: 37px;
      height: 21px;
      background-image: url(../image/hero/vector.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      transform: translate(-50%, 0);
    }
  }
}