.portfolio {
  padding-top: 0;
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list {
    display: flex;
    margin-bottom: 60px;
  }

  &__btn {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 160%;
    background-color: inherit;
    margin-right: 35px;
    // &:not(:last-child) {
    //   margin-right: 35px;
    // }
    
    &:focus {
      box-shadow: 0px 0px 0px 2px rgba(35, 82, 222, 0.5);
      border-radius: 3px;
    }
    &:active {
      color: #2352DE;
    }
    &:hover {
      text-decoration-line: underline;
      color: #2352DE;
    }
  }

  &__cases {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 60px;
  }

  &__img {
    max-width: 360px;
    max-height: 360px;
    object-fit: cover;
    // Нижний отступ для всех картинок, кроме тех, что в последнем ряду
    &:not(:nth-last-child(-n+3)) {
      margin-bottom: 45px;
    }
    // Отступ справа для всех картинок, кроме тех, что в последней колонке
    &:not(:nth-child(3n)) {
      margin-right: 45px;
    }
  }

  &__btn-load {
    font-size: 1.125rem;
    color: $color-white;
    padding: 12px 24px;
    background-color: #2352DE;

    &:focus {
      box-shadow: 0px 0px 0px 3px rgba(35, 82, 222, 0.5);
    }
    &:active {
      box-shadow: inset 0px 7px 4px rgba(0, 0, 0, 0.25);
    }
    &:hover {
      background-color: #FFFFFF;
      border: 1px solid #2352DE;
      color: #2352DE;
    }
  }
}