.portfolio {
  padding-top: 0;
  text-align: center;

  &__list {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 35px;
    }
  }

  &__button {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 160%;
    background-color: inherit;
    
    &:focus {
      box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
      border-radius: 3px;
    }

    &:hover {
      text-decoration-line: underline;
    }

    &:hover, &:active {
      color: #2352DE;
    }
  }

  &__cases {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    margin-right: -45px;
    margin-top: -45px;
  }

  &__img {
    width: 360px;
    height: 360px;
    object-fit: cover;
    margin-right: 45px;
    margin-top: 45px;
  }
}