.review {
  background-color: #F6F6F8;
  text-align: center;

  &__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__img {
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-bottom: 20px;
    border-radius: 50%;
  }

  &__name {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 1.5rem;
    color: #2352DE;
  }

  &__text {
    width: 400px;
    padding: 0 15px;
    font-style: italic;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 130%;
  }

  &__video {
    width: 570px;
    height: 400px;
  }

  &__link {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;

    &:focus {
      box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.5);
    }

    &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-image: url(/image/review/play.svg);
    background-color: rgba(0, 0, 0, 0.3);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 86px 100px;
    transform: translate(-50%,-50%);
    }

    &:hover::after {
    background-size: 129px 150px;
    background-color: rgba(0, 0, 0, 0.6);
    }

    &:active::after {
      background-size: 52px 60px;
      background-color: rgba(0, 0, 0, 0.45);
    }
  }
}