.services {
  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    padding-top: 90px;
    max-width: 330px;
    background-size: 60px 60px;
    background-repeat: no-repeat;

    &--markup {
      background-image: url('../image/services/markup_icon.svg');
    }
    &--cms {
      background-image: url('../image/services/dev_icon.svg');
    }
    &--support {
      background-image: url('../image/services/chat_icon.svg');
    }
  }

  &__title {
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 130%;
  }

  &__description {
    font-size: 1rem;
    line-height: 160%;
  }
}