.skills {
  background-color: $background-color-secondary;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    max-width: 415px;
  }

  &__item {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 86px;
    }
  }

  &__name {
    width: 64px;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 100%;
    text-transform: uppercase;
  }

  &__grey {
    position: relative;
    width: 600px;
    height: 32px;
    background-color: #DBDBED;
  }

  &__blue {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    background-color: #2352DE;
  }
}